* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: 'Arial', sans-serif;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 5px;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    margin-bottom: 15px;
}

.description {
    color: #ccc;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
}

.social-links a {
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.social-links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}
.attribution {
    margin-top: 20px;
    font-size: 12px;
}

.attribution a {
    color: hsl(75, 94%, 57%);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: none;
    
}

/* Responsive Design */
@media (min-width: 375px) {
    .profile-card {
        width: 100%;
    }
}
